<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="dist/style.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        
<!-- HEADER -->
    <header class="">
        <nav class="">
            <div class="logo inline">
                <img src="imgs/TB_logo.png" alt="" class="logo-img">
            </div>
            <div class="nav-list inline">
                <ul class="inline">
                    <li class="inline">
                        <a href="">Solution</a>
                    </li>
                    <li class="inline">
                        <a href="">Pricing</a>
                    </li>
                    <li class="inline">
                        <a href="">Blog</a>
                    </li>
                    <li class="inline">
                        <a href="">Sign In</a>
                    </li>
                </ul>
                <button>
                    <div class="g-logo">
                        <img src="../imgs/google-logo.svg" alt=""> 
                    </div>
                    Sign up
                </button>
            </div>
        </nav>

        <div class="hero">
            <div class="hero-text">
                
                <h1>
                    Understand, recognize and develope your people.
                </h1>
                <h5>Teambit helps teams create a high performing culture with regular feedback</h5>
                <div class="btn">
                    <button>
                        <img src="../imgs/google-logo.svg" alt=""> Sign up with Google
                    </button>
                          or    
                          <button>
                        <img src="../imgs/slack-logo.svg" alt=""> Sign up with Slack
                    </button>
                </div>
                <p>or use your email address</p>
            </div>

            <div class="hero-img">
            </div>
        </div>
    </header>
<!-- MAIN -->
<main>
    
    <!-- FIRST SECTION -->
    <section class="main-up">
            <div class="main-up-container">

                <h2>Traditional people processes lead to disengagement and turnover</h2>
                <div class="up-s-img">
                    <img src="imgs\hardcore.png" alt="">
                    <img src="imgs\nofeedback.png" alt="">
                    <img src="imgs\notsafe.png" alt="">
                </div>
                <div class="up-b-img">
                    <img src="imgs\before.png" alt="">
                </div>
                <hr>
                <h2>It doesn't have to be like that. Teambit is a modern solution that teammates love.</h2>
                <div class="up-s-img">
                    <div class="mini-img">
                        <img src="imgs\lightweight.png" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                    </div>
                    <div class="mini-img">
                        <img src="imgs\feedbacksuggestions.png" alt="">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="mini-img">
                        <img src="imgs\safe.png" alt="">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="up-b-img">
                    <img src="imgs\after.png" alt="">
                </div>
                <h2>Here is how it work</h2>
            </div>
        </section>
        
        <!-- SECOND SECTION -->
        <section class="center">
            <div class="section">
                <div class="screen">
                    <div class="left">
                        <img class="big-img" src="imgs\employee-feedback.jpg" alt="">
                    </div>
                    <div class="right">
                        <h5>Feedback to help teammates improve.</h5>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati, quaerat neque.</p>
                        <a href="">Learn More</a>
                        <img class="c-s-img" src="imgs/communication.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="screen">
                    <div class="left">
                        <h5>Feedback to help teammates improve.</h5>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati, quaerat neque.</p>
                        <a href="">Learn More</a>
                        <img class="c-s-img" src="imgs/insights.jpg" alt="">
                    </div>
                    <div  class="right">
                        <img class="big-img" src="imgs\employee-survey.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="section">

                <div class="screen">
                    <div class="left">
                        <img class="big-img" src="imgs\performance-review.jpg" alt="">
                    </div>
                    <div class="right">
                        <h5>Feedback to help teammates improve.</h5>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati, quaerat neque.</p>
                        <a href="">Learn More</a>
                        <img class="c-s-img" src="imgs\review.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="section">

                <div class="screen">
                    <div class="left">
                        <h5>Feedback to help teammates improve.</h5>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati, quaerat neque.</p>
                        <a href="">Learn More</a>
                        <img class="c-s-img" src="imgs\recognition.jpg" alt="">
                    </div>
                    <div class="right">
                        <img class="big-img" src="imgs\performance-review.jpg" alt="">
                    </div>
                </div>
            </div>
        </section>
        
        <!-- THIRD SECTION -->
        <section class="down">
            <h1>See Teambit for yourself</h1>
            <h1>Get started in second <img src="imgs\happy.svg" alt=""></h1>
            <div class="chat">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit cumque id delectus iste rem laudantium dolores, accusamus, numquam velit nulla nemo quo modi consectetur quasi. Voluptates unde expedita quasi ab.</p>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia eveniet numquam totam atque laudantium quo minus, vero, excepturi ad vel fugiat quasi nam dignissimos. Facere quaerat maiores ullam. Maxime, asperiores?</p>
                <div class="author">
                    <div class="author-l">
                        <img src="imgs\alex.png" alt="">
                        <img src="imgs\bohdan.png" alt="">
                    </div>
                    <div class="author-r">
                        <h6>Alex and Bohdan</h6>
                        <p>Co-founder at Teambit</p>
                    </div>
                </div>
            </div>
            <div class="btn">
                <button>
                    <img src="../imgs/google-logo.svg" alt=""> Sign up with Google
                </button>
                <div class="btn-over-text">
                    or    
                </div>     
                <button>
                    <img src="../imgs/slack-logo.svg" alt=""> Sign up with Slack
                </button>
            </div>
            <div class="btn-over-text">or use your email address</div>
        </section>
    </main>
    <!-- FOOTER -->
    <footer>
        <div class="footer-list1">
            <img src="imgs\TB_logo.png" alt="">
            <span>Teambit helps teams high performing</span>
        </div>
        <div class="footer-list">
            <h4>Product</h4>
                <ul>
                    <li v-for="el in footerList1">
                        <a href="el.link" v-if="el.link">
                             {{ el.text }}
                        </a>
                    </li>
                </ul>
        </div>
        <div class="footer-list">
            <h4>About</h4>
            <ul>
                <li v-for="el in footerList1">
                    <a href="el.link" v-if="el.link">
                         {{ el.text }}
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-list">
            <h4>Connect</h4>
            <ul>
                <li v-for="el in footerList2">
                    <a href="el.link" v-if="el.link">
                         {{ el.text }}
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-list">
            <h4>Lobs</h4>
            <ul>
                <li v-for="el in footerList3">
                    <a href="el.link" v-if="el.link">
                         {{ el.text }}
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-list">
            <h4>From the blogs</h4>
            <ul>
                <li v-for="el in footerList1">
                    <a href="el.link" v-if="el.link">
                         {{ el.text }}
                    </a>
                </li>
            </ul>
        </div>
        

    </footer>
</div>
<script src="script/script.js"></script>
</body>
</html>