// FIRST SECTION
.main-up{
    background-color: #0414B3;
    .main-up-container{
        padding: 20px 80px;
        h2{
            text-align: center;
            color: white;
        }
        .up-s-img{
            display: flex;
            height: 80px;
            justify-content: space-between;
            margin: 50px 0;
            .mini-img{
                
                img{
                    height: 100%;
                }
                p{
                    color: white;
                }
            }
        }
        .up-b-img{
            height: 250px;
            justify-content: center;
            display: flex;
            margin-top: 30px;
            
            img{
                height: 100%;
            }
        }
        hr{
            color: white;
            margin: 100px ;
        }
    }
}

//SECOND SECTION
.center{
    display: flex;
    .screen{
        display: flex;
        .left{
            flex: 1;
        }
        .right{
            flex: 1;
        }
        .left1{
            background-image: url(../../imgs/employee-feedback.jpg);
            background-size: cover;
        }
    }
}