// FIRST SECTION
.main-up{
    background-color: #0414B3;
    .main-up-container{
        padding: 20px 80px;
        h2{
            text-align: center;
            color: white;
        }
        .up-s-img{
            display: flex;
            height: 80px;
            justify-content: space-between;
            margin: 50px 0;
            .mini-img{
                
                img{
                    height: 100%;
                }
                p{
                    color: white;
                }
            }
        }
        .up-b-img{
            height: 250px;
            justify-content: center;
            display: flex;
            margin-top: 30px;
            
            img{
                height: 100%;
            }
        }
        hr{
            color: white;
            margin: 100px ;
        }
    }
}

//SECOND SECTION
.center{
    padding: 20px 80px;
    .section{
        .screen{
            display: flex;
            .left{
                flex: 1;
                .big-img{
                width: 100%;
                }
                .c-s-img{
                    height: 50%;
                    width: 50%;
                    display: block;
                }
                
            }
            .right{
                flex: 1;
                .c-s-img{
                    height: 50%;
                    width: 50%;
                    display: block;
                }
                .big-img{
                    width: 100%;
                }
            }
        }
    }
}

// THIRD SECTION
.down{
    background-color: #0414B3;
    padding: 50px 0;
    h1{
        color: white;
        text-align: center;
    }
    .chat{
        width: 50%;
        margin: auto;
        padding: 10px;
        border: 2px solid gray;
        border-radius: 5px;
        background-color: white;
        .author{
            display: flex;
            .author-l{
                margin: 0 20px;
                img{
                    width: 55px;
                }
            }
            h6{
                color: #0414B3;
            }
        }
    }
    .btn{
        display: flex;
        justify-content: center;
    }
    .btn-over-text{
        align-self: center;
        text-align: center;
        color: white;
    }
}
